<!DOCTYPE html> 
<html lang="fr"> 

<head> 
    <meta charset="UTF-8"> <!-- Définit le jeu de caractères utilisé pour le document comme UTF-8, qui inclut la plupart des caractères de toutes les langues écrites -->
    <title>Tableau de bord</title> 
</head> 

<body> 
    <h1>Bienvenue sur votre tableau de bord</h1> 
    <!-- Définit un bouton qui, lorsqu'il est cliqué, redirige l'utilisateur vers la route '/users' où la liste des utilisateurs est affichée -->
    <button onclick="location.href='/users'">Voir la liste des utilisateurs</button>
</body> 

</html> 
